<br>
<html>
 <body class="background">
   <div class="container">

    <div class="row">
      <div class="mx-auto">
      <h4><strong>”自然シェア”</strong>　へようこそ</h4>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto">
    　<h6>見つけた自然をみんなで共有するサイトです。</h6>
  　　<h6>きっと、あなたの近くにも素敵な場所を見つけられるかもしれません！</h6>
  　　</div>
  　</div>

  　<div class="row">
     <div class="col-7">
       <h6><strong>こんな人におすすめです！</strong></h6>
       <h6>☆自然を感じられる場所を手軽に見つけたい人</h6>
　 　　<h6>☆全国各地の自然を探したい人</h6>
     </div>

     <div class="col-5">
       <h6><strong>使い方</strong></h6>
       <h6>☆自然を感じられる場所を手軽に見つけたい人</h6>
　 　　<h6>☆全国各地の自然を探したい人</h6>
     </div>
    </div>

    </div>
  </body>
</html>