<br>
<html>
 <body class="background">

    <div class="row mt-3 mb-3">
      <div class="mx-auto">
      <h2><strong>”自然をシェアしよう”</strong>　へようこそ</h2>
      </div>
    </div>


    <div class="main-visual">
    <div class="row">
      <div class="mx-auto mt-3">
    　<h5>見つけた自然をみんなで共有するサイトです。</h5>
  　　<h5>きっと、あなたの近くにも素敵な場所を見つけられるかもしれません！</h5>
  　　</div>
  　</div>


  　<div class="row mt-3">
     <div class="mx-auto mr-3">
       <h5><strong>こんな人におすすめです</strong></h5>
       <h6>☆自然が好きな人</h6>
       <h6>☆近所で自然を感じられる場所を探している人</h6>
       <h6>☆全国各地の自然を探したい人</h6>
     </div>

     <div class="mx-auto ml-3">
       <h5><strong>このサイトの特徴</strong></h5>
       <h6>☆投稿が簡単！</h6>
       <h6>☆地図上から写真を探せる！</h6>
       <h6>☆どのような写真が見たいかで検索できる！</h6>
     </div>
    </div>
    </div>

  </body>
</html>


